/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

html {
     font-size: 62.5%;
}
body {
     font-family: sans-serif;
     background-color: rgba(30, 30, 30, 0.853);
     background: radial-gradient(#542547, rgba(17, 17, 17, 1) 99.8%);
     background-repeat: repeat-y;
     color: rgb(249, 249, 233);
     font-family: 'Raleway', sans-serif;
     font-size: 1.2rem;

}


body::-webkit-scrollbar {
     display: none;
}
h1 {
     color: rgba(255,255,255,1);
     text-shadow: 0 0 15px rgba(0,0,0,1);
     
     font-size: 5rem;
     margin: 1rem 0;
}
h2 {
     font-size: 3rem;
     border-bottom: 1px #542547 solid;
     padding: 1rem;
     margin-top: 1rem;
     padding-bottom: 3rem;
     margin-bottom: 3rem;
}
.cursive-font {
     font-family: 'Oleo Script Swash Caps', cursive;

}



/******************************************
/* LAYOUT
/*******************************************/
header {
     text-align: center;
}
.home {
     display: flex;
     flex-wrap: wrap;
     padding: 0 1rem;
}
.threeD-model {
     height: 600px;
}
.threeD-model, .intro {
     width: 50%;
}
.intro {
     text-align: center;
     padding: 1rem 3rem;
     max-height: 400px;
     height: 400px;
     align-self: center;
     width: 450px;  
     
     transform: none;
}
.question-form {
     display: flex;
     width: 100%;
     flex-direction: column;
     align-items: center;
}
.question-form > *, .example, .instructions {
     margin-bottom: 2.5rem;
}
.question-input {
     border: none;
     outline: none;
     font-weight: 600;
     padding: .7rem .8rem;
     width: 80%;
     border-radius: 1rem;
}
.question-input:focus {
     box-shadow: 0 0 10px #ffffff;
}
.instructions {
     font-weight: 600;
     font-size: 1.6rem;
}
.example, .answer {
     color: rgb(186, 184, 184);
     font-size: 1.4rem;
}
.question {
     font-size: 3rem;
}
.answer {
     font-size: 2rem;
}
.error-box {
     font-weight: 600;
}
.entry-screen, .response-screen {
     padding: .5rem;   
}
.past-fortunes {
     flex-basis: 100%;
     display: flex;
     padding: 1rem;
     text-align: center;
     align-items: stretch;
     justify-content: center;
     flex-wrap: wrap;
}
.past-fortunes > * {
     margin-right: 2rem;
}
.past-fortune-box {
     width: 17rem;
     min-height: 11rem;
     padding: .8rem;

     background-color: grey;
}
.past-fortunes h3 {
     font-size: 2.5rem;
     width: 100%;
     margin: 0;
     margin-bottom: 3rem;
}
footer {
     width: 100%;
     margin: 3rem auto;
     text-align: center;
}
.past-fortune-box h4 {
     font-size: 1.6rem;
     padding-bottom: .8rem;
}

a {
     color: #ffffff;
}
a:hover {
     color: rgba(255,0,0,.5)
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
.hidden {
     display: none;
}
.no-margin {
     margin: 0;
}

@media screen and (max-width: 750px) {
     
}

.card-black {
     background: rgba(17,17,17,.8);
     box-shadow: 0px 0px 10px 3px rgba(0,0,0,.4);
     border-radius: 10px;
}
.card-gray {
     background:rgba(17,17,17);
     box-shadow: 0px 0px 8px 2px rgba(0,0,0,.4);
     border-radius: 3px;
}

.purple-btn {
     border: none;
     background-color: #542547;
     color: rgba(245, 245, 245, 0.789);
     padding: 1rem;
     border-radius: 1.5rem;
     text-transform: uppercase;
     font-weight: 700;
}
.purple-btn:hover {
     color: #542547;
     background-color: black;
}
@media screen and (max-width: 960px) {
     .home {
          flex-direction: column;
          flex-wrap: nowrap;
          align-items: center;
     }
     .home > * {
          width: 100%;
     }
     .intro {
          margin: 0 4rem;
          margin-top: 1rem;
          margin-bottom: 3rem;
          width: 90%;

     }
     .past-fortune-box {
          margin: 1rem auto;
          padding: 1rem;  
     }
     .threeD-model {
          height: 400px;
     } 
}
.flip {
     animation: flip 2s forwards; 
}
@keyframes flip {
     50% {
          transform: rotateY(180deg);
     }
     100% {
          transform: rotateY(0deg);
     }     
}
